---
title: Inscenace
class: inscenace
layout: main
---

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-xs-12">
            <h2>Pásmo z deníkových textů Víta Ondráčka</h2>
            <p>U příležitosti vernisáže kunštátského výtvarníka Víta Ondráčka
            vzniklo představení, které zpracovává texty z malířova deníku Spolu
            spali sladce, vydaného nakladatelstvím Theo v roce 2017. Výběr textů
            se soustředí na téma autorovy malířské tvorby a její reflexe. Účinkují
            Jan Bařinka (recitace), Kristýna Znamenáčková (klavírní improvizace,
            recitace) a Tomáš Znamenáček (sampler).</p>

            {% include gallery.html id="Sekvoj" %}

            <h2>Mění se kulisa <small>Vít Ondráček</small></h2>
            <p>Krátký dramatický text Mění se kulisa vytvořil pro večerní
            kulturní program Halasova Kunštátu 2015 kunštátský výtvarník Vít
            Ondráček. S využitím citací, vzpomínek a básní Ludvíka Kundery hra
            představuje tuto významnou osobnost české kultury přesně v intencích
            vlastní tvorby pana Ludvíka – skromně, komorně, s důrazem na dialog.
            Podobně jsme se i my snažili text uchopit pro jevištní ztvárnění, a
            to formou scénického čtení, ve kterém účinkují herci Jan Bařinka a
            Kristýna Znamenáčková. Básníka představila také projekce, kterou
            inscenaci doprovodila Eva Tajovská, využili jsme rovněž texty
            Arnošta Goldflama a Jana M. Tomeše ze sborníku Ludvíku Kunderovi k
            pětasedmdesátinám. O světla se při kunštátském uvedení postaral Igor
            Láník, zvukový doprovod zajistil Tomáš Znamenáček, který je rovněž
            autorem nahrávky, <a href="https://soundcloud.com/zmotula/kulisa">
            jež zaznamenává zvukovou podobu představení</a>.</p>

            {% include gallery.html id="Kulisa" %}

            <h2>Lhář <small>podle románu Martina A. Hansena</small></h2>
            <p>Inscenace Lhář vznikla podle stejnojmenného románu dánského
            spisovatele Martina A.  Hansena. Román bývá označován jako
            specificky severský příspěvek k poválečné existenciální literatuře,
            inscenaci tedy snad lze charakterizovat jako severské existenciální
            drama.</p>
            <p>Děj protkaný silným duchovním nábojem a poselstvím se odehrává
            na malém ostrově Sandø, kolem kterého na zimu zamrzá moře.
            Vypravěčem a protagonistou je místní učitel, který se na ostrov
            přistěhoval před sedmi lety z pevniny. A mezi ostrovany prožívá
            příběh nenaplněných milostných vztahů a osudové samoty.</p>

            {% include gallery.html id="Lhář" %}

            <p><i>Hrají:</i> Jan Bařinka, Eva Tajovská, Kristýna Znamenáčková,
            Martin Kolář, Lukáš Koudelka, Marek Šmerda, Diana Elfmarková a
            Tomáš Znamenáček; <i>světla &amp; zvuk:</i> Igor Láník a Tomáš Svoboda;
            <i>výtvarnice scény:</i> Eva Tajovská; <i>příprava textu a režie:</i>
            Tomáš Trumpeš. <i>Délka představení:</i> 2 h včetně přestávky.</p>

            <h2>Uvařeno <small>Jáchym Topol</small></h2>

            <p><em>Chrám lidského těla. Tři vrazi. Tři oběti. Jeden anděl. Jedna spravedlnost?<br>
            Kdo hlídá pravidla hry? Kdo je sudím života?<br>
            Nepohádkový příběh o tom, že kdo se spřáhne se zlem, skončí v pekle.</em></p>

            <p>Rafinovaný a experimentální Topolův dramatický text pátrá po
            kořenech zla v mnoha rovinách: psychologické, sociologické,
            politické, náboženské… A přináší příležitost k reflexi moderních
            českých dějin. Netradiční formou napsaná hra o osudech tří vrahů
            setkávajících se v jedné cele vybízela k experimentálnějšímu
            divadelnímu zpracování. Divadlo NABOSO s inscenací Uvařeno
            zvítězilo na celostátní přehlídce amatérského činoherního divadla
            ve Volyni a získalo nominaci na Jiráskův Hronov, jehož 82. ročníku
            se zúčastnilo.</p>

            {% include gallery.html id="Uvařeno" %}

            <p><i>Hrají:</i> Ondřej Pokorný / Marek Šmerda, Martin Kolář, Jan
            Bařinka, Eva Tajovská / Ludmila Dobrozemská; <i>výtvarné řešení
            inscenace:</i> Eva Tajovská; <i>dramaturgie:</i> Jan Bařinka a
            Tomáš Trumpeš; <i>režie:</i> Tomáš Trumpeš. <i>Délka představení:</i>
            50 minut.</p>

            <h2>Magorův sbor <small>recitační sbor voicebandového typu</small></h2>

            <p>Představení zpracovává vězeňskou poezii současného českého
            básníka a guru českého undergroundu Ivana Martina Jirouse, převážně
            ze sbírky Magorovy labutí písně. Ve spolupráci s nakladatelstvím
            Guerilla records vyšlo stejnojmenné CD se studiovým zvukovým
            záznamem a bonusovým videozáznamem představení.</p>

            {% include gallery.html id="Magor" %}

            <p><i>Hrají:</i> Jan Bařinka, Lída Odehnalová, Marek Šmerda,
            Alena Vítková, Eva Tajovská, Michaela Svobodová, Kristýna
            Znamenáčková, Nikola Král, Michaela Dufková, Leona Herzánová, Lukáš
            Koudelka, Eliška Toufarová, Lenka Nerudová, Kateřina Trnečková a
            Ludmila Dobrozemská; <i>režie:</i> Tomáš Trumpeš. <i>Délka
            představení:</i> 25 minut.</p>

            <h2>Starší inscenace <small>nehrajeme, vzpomínáme</small></h2>
            {% assign stareInscenace = site.data.inscenace | sort: "rok" %}
            <ul class="nice">
            {% for inscenace in stareInscenace reversed %}
                {% if inscenace.hrajeme != true %}
                <li>
                    {{ inscenace.nazev }} ({{ inscenace.rok }})<br>
                    <span class="text-muted">
                        {% if inscenace.podtitul %}{{ inscenace.podtitul }} – {% endif %}
                        {{ inscenace.typ }}
                    </span>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
