<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <p>
                Divadlo NABOSO<br>
                <a href="mailto:divadlo@divadlonaboso.cz">divadlo@divadlonaboso.cz</a><br>
                <a href="https://www.facebook.com/divadlonaboso">facebook.com/divadlonaboso</a><br>
                +420 608 763 954<br>
                </p>
            </div>
            <div class="col-lg-5 text-muted">
                <p>Poslední podstatná změna leden 2016.<br>
                Made with ☂ and <a href="https://github.com/zoul/Naboso">GitHub</a>.</p>
            </div>
        </div>
    </div>
</div>
