<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Divadlo NABOSO: {{ page.title }}</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/lib/analytics.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="{{ page.class }}">

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-6 mala-pulka">
                    <div class="woodcock-wrapper">
                        <div class="woodcock"></div>
                    </div>
                    <h1>Divadlo NABOSO</h1>
                    <ul class="menu">
                        <li class="index"><a href="/">o nás</a>
                        <li class="inscenace"><a href="/inscenace.html">inscenace</a>
                        <li class="archiv"><a href="/archiv.html">archiv</a>
                    </ul>
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-md-6 hidden-sm hidden-xs">
                    <div class="actors"></div>
                </div>
            </div>
        </div>
    </div>

    {{ content }}

    {% include footer.html %}

</body>
</html>

