<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Divadlo NABOSO: {{ page.title }}</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/lib/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />
    <meta property="og:image" content="http://divadlonaboso.cz/img/share.jpg">
</head>
<body class="{{ page.class }}">

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-6 mala-pulka">
                    <div class="woodcock-wrapper">
                        <div class="woodcock"></div>
                    </div>
                    <h1>Divadlo NABOSO</h1>
                    <ul class="menu">
                        <li class="index"><a href="/">soubor</a>
                        <li class="inscenace"><a href="/inscenace.html">inscenace</a>
                        <li class="predstaveni"><a href="/predstaveni.html">představení</a>
                    </ul>
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-md-6 hidden-sm hidden-xs">
                    <div class="actors"></div>
                </div>
            </div>
        </div>
    </div>

    {{ content }}

    {% include footer.html %}

    <script src="/lib/analytics.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/lib/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script>
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
    </script>
</body>
</html>

